@import "./../../../../styles/settings/colors.scss";
@mixin ui-components-theme-custom($theme) {
    $background: map-get($theme, "background");
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, "primary");
    $accent: map-get($theme, "accent");
    .cards-stack /deep/ .cell {
        .trimmed-label p,
        .value-text {
            color: mat-color($foreground, text) !important;
            fill: mat-color($foreground, text) !important;
        }
    }
    .cards-stack /deep/ .card {
        fill: mat-color($background, card) !important;
    }
    .line-chart-popularity {
        & /deep/ g,
        & /deep/ rect {
            fill: mat-color($accent) !important;
            color: mat-color($accent) !important;
        }
        & /deep/ path.line {
            stroke: mat-color($primary) !important;
        }
    }
}